<div class="background-wrapper">
  <div class="flex main-heading-wrapper">
    <h1 class="main-heading">FIND YOUR NEW BOARD, <br>BIKE, <br>BOOTS&hellip;
    </h1>
    <span class="heading-sub-text hidden-xs">COMPARE, FILTER AND REVIEW YOUR EXTREME SPORT PRODUCTS</span>
  </div>
</div>

<div class="js-search-affix">
    <div class="flex main-filters-wrapper">
      <% @categories.all.each do |category| %>
          <%= render partial: 'category_filter', locals: {category: category} %>
      <% end %>
    </div>

    <div class="flex applied-filters-wrapper sub-filters-wrapper" style="display: none;">
      <% @filters.each do |filter| %>
          <span class="applied-filter">
            <%= link_to search_index_path(update_params(params, :remove, filter.type, filter.id)), data: {'turbolinks-scroll' => false} do %>
                <span class="glyphicon glyphicon-remove"></span>
                <span class="applied-filter-text"><%= filter.name %></span>
            <% end %>
          </span>
      <% end %>
      <span class="applied-filter js-clear-all">
        <%= link_to search_index_path(clear_sub_categories(params)), data: {'turbolinks-scroll' => false} do %>
            <span class="glyphicon glyphicon-remove"></span>
            <span class="applied-filter-text">Clear All</span>
        <% end %>
      </span>
    </div>

    <div class="main-tabs-wrapper">
      <div class="flex">
        <div class="buying-guides-block-wrapper">
          <%= render 'layouts/buying_guides' %>
        </div>
        <div class="compare-block-wrapper">
          <%= render 'layouts/compare_products' %>
        </div>
      </div>
      <div class="flex tabs-list">
        <span class="tabs-item social-feed-button-wrapper">
          <%= link_to "Social Feed", root_path, {id: 'social-feed-button', class: 'btn btn-link tabs-link active'} %>
        </span>
        <span class="tabs-divider">|</span>
        <span class="tabs-item compare-button-wrapper">
          <button id="compare-button" type="button" class="btn btn-link tabs-link"><%= defined?(@category) ? @category.name : 'Compare Products' %></button>
        </span>
        <span class="tabs-divider">|</span>
        <span class="tabs-item bying-guides-btn-wrapper">
          <button id="buying-guides" type="button" class="btn btn-link tabs-link">Buying Guides</button>
        </span>
      </div>
    </div>
</div>

<div class="flex main-search-wrapper">
  <%= form_tag search_index_path, method: :get, class: 'search-form--inline' do %>
      <div class="search-field-wrapper">
        <%= text_field_tag :search, params[:search], class: 'search-field form-control', placeholder: 'Search...' %>
        <%= button_tag class: 'submit-icon' do %>
            <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </div>
  <% end %>
</div>
