<% if review.product %>
  <div class="review-unit">
    <div class="row review-rating-body">
      <div class="col-md-12 review-rating">
          <%= render 'products/rating', rating: review.product.rating, product_id: review.product.id %>
        <p><%=review.title%></p>
        <div class="thumb-menu-stripe">
          <a href="javascript:;" class="toggle-product-menu social-share thumb-more-button"></a>
          <div class="menu-group">
            <div class="menu-item">
              <%= modal_button_tag 'Edit',
                edit_product_review_path(review.product, review),
                method: :get,
                link: true,
                class: '' %>
            </div>
            <hr>
            <div class="menu-item">
              <%= link_to 'Remove', product_review_path(review.product, review), method: :delete, remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-title">
      <h3>Skeleton Key - DHD</h3>
    </div>
    <div class="review-description">
      <p>
        <div class="more-less-text">
          <%= review.review.html_safe %>
        </div>
      </p>
    </div>
  </div>

<% end %>
