<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
<div class="sides-indents">
<%= render partial: 'registrations/profile_top' %>
<%= render partial: 'registrations/nav_filters' %>
<div class="center-block">
  <main class="main-content-wrapper social">
  <div id="user_social">
    <div class="flex thumbs-matrix-wrapper search-results-container">
      <%= render partial: 'search/search_results' %>
    </div>
    <div class="clearfix"></div>
    <div class="flex photo-video-showmore-thumbs-row">
      <div class="plus-button-wrapper">
        <%= photo_link [param_change(:update, :page, @media.next_page)], "data-remote": true do %>
          <i class="zmdi zmdi-plus-circle-o"></i>
        <% end %>
      </div>
      <div class="showmore-text-wrapper">
        <%= photo_link [param_change(:update, :page, @media.next_page)], { class: "show-more-text", 'data-remote': true } do %>
          <span>More Listing</span>
        <% end %>
      </div>
    </div>
  </div>
  </main>
</div>
</div>