<nav class="navbar navbar-default" id="nav-filters">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav nav-center">
          <li class="navbar-btn">
            <%= link_to(edit_user_registration_path, class:"btn-icon profile-icon") do %>
              <label type="text"><%= t '.profile' %></label>
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(reviews_users_path, class:"btn-icon reviews-icon") do %>
            <label type="text"><%= t '.reviews' %></label>
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(social_users_path, class:"btn-icon photos-icon") do %>
            <label type="text"><%= t '.social' %></label>
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(favourites_users_path, class:"btn-icon favourites-icon") do %>
            <label type="text"><%= t '.favorites' %></label>
            <% end %>
          </li>
        </ul>
    <% end %>
</nav>
