<div class='thumb-wrapper thumb-video'>
  <div class='flex thumb-header'>
    <span class='thumb-header-abbr'>
      <%= video.product && video.product.company && video.product.company.name %>
    </span>
    <span class='thumb-menu-stripe'>
      <%= image_tag "three-dots-menu.svg", width: '20', height: '16', class: 'img-responsive' %>
    </span>
  </div>
  <div class='embed-responsive embed-responsive-16by9'>
    <%= link_to video do %>
        <div class="media-overlay"></div>
        <iframe class='embed-responsive-item' src='<%= video.url %>'></iframe>
    <% end %>
  </div>
  <div class='thumb-description thumb-brd-btm-4 text-left'>
    <p>
      <%= truncate video.comment, length: 250, separator: ' ' %>
    </p>
  </div>
  <div class='flex thumb-footer'>
    <div class='thumb-footer-model'>
      <%= link_to video.product do %>
          <%= video.product.name %> <%= "(#{video.product.year})" if video.product.year %>
      <% end %>
    </div>
    <div class='thumb-star-wrapper'>
      <%= render 'products/rating', rating: video.product.rating %>
    </div>
  </div>
</div>
