<div class='thumb-wrapper thumb-video'>
  <div class='flex thumb-header'>
    <span class='thumb-header-name'>
      <%= video.user.name %>
      <%= video.user.last_name %>
    </span>
    <div class="thumb-menu-stripe">
      <a href="javascript:;" onclick="showProductMenu(this)" class="social-share"></a>
      <!-- social share tool window -->
      <span class="social_share_group">
        <span class="share_items">
          <a class="share_item share-button-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= video.url %>"></a>
          <a class="share_item share-button-twitter"  href="https://twitter.com/intent/tweet?url=<%= video.url %>"></a>
          <a class="share_item share-button-whatsapp" href="whatsapp://send?text=<%= video.url %>"></a>
          <span class="share_item share-button-separator"></span>
          <a class="share_item share-button-copylink" onclick="copyToClipboard('<%= video.url %>')"></a>
        </span>
      </span>
    </div>
  </div>
  <div class='embed-responsive embed-responsive-16by9'>
    <iframe class='embed-responsive-item' src='<%= video.url %>' allowfullscreen></iframe>
  </div>
  <div class='thumb-description thumb-brd-btm-4 text-left'>
    <p>
      <%= truncate video.comment, length: 250, separator: ' ' %>
    </p>
  </div>
  <div class='flex thumb-footer'>
    <div class='thumb-footer-model'>
      <%= link_to video.product do %>
          <%= "#{video.product.company.name} – " if video.product.company %>
          <%= video.product.name %>
          <%= "(#{video.product.year})" if video.product.year %>
      <% end %>
    </div>
    <div class='thumb-star-wrapper'>
      <%= render 'products/rating', rating: video.product.rating, product_id: video.product.id %>
    </div>
  </div>
</div>
