<div class="background-wrapper" style="<%= sub_category_cover(@sub_category) %>">
    <%= render 'breadcrumbs' %>
    <div class="flex main-heading-wrapper">
        <span class="heading-sub-text">Use the filters to find your perfect</span>
        <h1 class="main-heading"><%= @sub_category.name.singularize %></h1>
    </div>
</div>

<div class="flex main-filters-wrapper">
  <% @categories.all.each do |category| %>
    <div class="filter-wrapper category-item active">
      <%= link_to category.sub_categories.first, class: 'category-link' do %>
        <label class="checkbox-style">
          <input id="<%= "category-#{category.id}" %>" type="checkbox" class="checkbox-inline" <%= category.searched_for?(params[:sub_categories]) ? "checked='checked'" : "" %>>
          <% if category.searched_not_for_all?(params[:sub_categories]) %>
              <span class="dash"></span>
          <% else %>
              <span></span>
          <% end %>
        </label><label for="<%= "category-#{category.id}" %>" class="filter-name"><%= category.name %></label>
      <% end %>
    </div>
  <% end %>
</div>
