<div id="products_goes_here">
  <%= render partial: 'applied_filters' %>
  <div class="flex thumbs-matrix-wrapper search-results-container">
    <% if products.count == 0 %>
        <div class="flash alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Sorry, your search returned no products.
        </div>
    <% else %>
        <% products.each do |product| %>
            <div class='thumb-wrapper thumb-product'>
              <div class='flex thumb-header'>
                <span class='thumb-header-abbr'>
                  <%= link_to product do %>
                      <%= product.name %> <%= "(#{product.year})" if product.year %>
                      <% if false %>
                          <!-- commented -->
                          <%= "(#{product.company.name})" if product.company.name %>
                      <% end %>
                  <% end %>
                </span>
              </div>
              <%= link_to product, class: 'thumb-preview' do %>
                  <div class='embed-responsive embed-responsive-16by9 thumb-bg' style="background-image: url(<%= image_url(product.picture.url) %>);"></div>
              <% end %>
              <div class='flex thumb-footer'>
                <span class='thumb-star-wrapper'>
                  <%= render 'products/rating', rating: product.rating %>
                </span>
                <div class='thumb-star-wrapper'>
                  <%= product.actual_price.amount if product.actual_price %>
                  <%= product.actual_price.currency.sign if product.actual_price %>
                </div>
              </div>
              <div class='thumb-description text-left'>
                <p>
                  <%= truncate product.description, length: 160, separator: ' ' %>
                </p>
              </div>
              <div class='thumb-moreinfo-link'>
                <%= link_to 'More Info...', product %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
