<div class='thumb-wrapper thumb-photo'>
  <div class='flex thumb-header'>
    <span class='thumb-header-name'>
      <%= photo.user.name %>
      <%= photo.user.last_name if photo.user.last_name %>
    </span>
    <span class='thumb-menu-stripe'>
      <%= image_tag "three-dots-menu.svg", width: '20', height: '16', class: 'img-responsive' %>
    </span>
  </div>
  <div class="thumb-preview">
    <%= link_to photo.picture.image_file_name, photo, { class: 'embed-responsive embed-responsive-16by9 text-hide thumb-bg', style: "background-image: url(#{image_url(photo.picture.image.url(:thumbnail))});"} %>
    <%= link_to photo.picture.image.url, class: 'btn btn-link btn-xs thumb-preview-button js-zoom-photo' do %>
      <span class="glyphicon glyphicon-resize-full"></span>
    <% end %>
  </div>
  <div class='thumb-description thumb-brd-btm-4 text-left'>
    <p>
      <%= truncate photo.comment, length: 200, separator: ' ' %>
    </p>
  </div>
  <div class='flex thumb-footer'>
    <div class='thumb-footer-model'>
      <%= link_to photo.product do %>
          <%= "#{photo.product.company.name} – " if photo.product.company %>
          <%= photo.product.name %>
          <%= "(#{photo.product.year})" if photo.product.year %>
      <% end %>
    </div>
    <div class='thumb-star-wrapper'>
      <%= render 'products/rating', rating: photo.product.rating, product_id: photo.product.id %>
    </div>
  </div>
</div>
