<div class='thumb-wrapper thumb-photo'>
  <div class='flex thumb-header'>
    <span class='thumb-header-abbr'>
      <%= photo.user.name %>
      <%= photo.user.last_name if photo.user.last_name %>
    </span>
    <span class='thumb-menu-stripe'>
      <%= image_tag "three-dots-menu.svg", width: '20', height: '16', class: 'img-responsive' %>
    </span>
  </div>
  <%= link_to photo do %>
      <div class='embed-responsive embed-responsive-16by9'>
        <%= image_tag photo.picture.image.url(:thumbnail), alt: '', class: 'img-responsive center-block' %>
      </div>
  <% end %>
  <div class='thumb-description thumb-brd-btm-4 text-left'>
    <p>
      <%= truncate photo.comment, length: 200, separator: ' ' %>
    </p>
  </div>
  <div class='flex thumb-footer'>
    <div class='thumb-footer-model'>
      <%= link_to photo.product do %>
          <%= "#{photo.product.company.name} – " if photo.product.company %>
          <%= photo.product.name %>
          <%= "(#{photo.product.year})" if photo.product.year %>
      <% end %>
    </div>
    <div class='thumb-star-wrapper'>
      <%= render 'products/rating', rating: photo.product.rating %>
    </div>
  </div>
</div>
