<div class="main-content-guides-wrapper">
  <section class="guide-info">
    <div class="guide-info-overlay">
      <div class="guide-video-wrapper">
        <div class="guide-video">
          <%= guide_video_with_share(@guide) %>
        </div>
      </div>

      <div class="guide-description-wrapper">
        <div class="guide-description">
          <h1><%= "#{@sub_category.name&.singularize} guide" %></h1>
          <%= "It it really important to choose the right #{@sub_category.name&.singularize&.downcase} as..." %>
          <div class="compare-products">
            <%= link_to "compare #{@sub_category.name}", sub_category_path(@sub_category) %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="guide-chapters row">
    <div class="guide-chapters-list-wrapper">
      <div class="guide-chapters-list short">
        <div class="guides-list-header">CHAPTERS</div>
        <% @sub_category.guides.order(:id).each do |guide| %>
          <%= link_to guide.header, sub_category_guide_path(@sub_category, guide) %><br/>
        <% end %>
        <div class="guides-list-header">OTHER GUIDES</div>
        <% Category.order(:id).each do |category| %>
          <% category.sub_categories.where.not(id: @sub_category.id).order(:id).each do |sub_category| %>
            <% if sub_category.guides.present? %>
              <%= link_to "#{sub_category.name} buying guide", sub_category_guide_path(sub_category, sub_category.guides.last) %><br/>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="row visible-xs">
        <div class="toggle-block col-md-3 center-block">
          <span class="glyphicon glyphicon-menu-down js-toggle-product-details-block" data-block-selector=".guide-chapters-list"></span>
        </div>
      </div>
    </div>
    <div class="guide-text-wrapper">
      <h1><%= @guide.header.upcase %></h1>
      <div class="guide-text col-md-10 center-block">
        <%= simple_format @guide.description&.html_safe %>
      </div>
    </div>
  </section>
</div>
<style>
  .guide-info { background: url(<%= image_url @guide.image&.url %>) no-repeat; }
</style>
