<section id="guide-info">
  <div id="guide-description">
    <h1><%= @guide.header %></h1>
    <%= simple_format @guide.description.truncate 400 %>
  </div>

  <!-- <div id="photo">
    <img src="http://i.piccy.info/i9/52155b7ac6f450fd8d791d8ce9908032/1480425746/456627/1094652/goodnoob.jpg" />
  </div> -->
</section>


<section id="guide-chapters" class="row">
  <div id="guide-chapters-list">
    <div>CHAPTERS</div>
    <% @sub_category.guides.each do |guide| %>
      <%= link_to guide.header, sub_category_guide_path(@sub_category, guide) %><br/>
    <% end %>
    <div>OTHER GUIDES</div>
    <% Category.all.each do |category| %>
      <ul class="category-guides">
      <% category.sub_categories.each do |s_category| %>
        <li><a href="#"><%= "#{s_category.name}" %> Guide</a></li>
      <% end %>
      </ul>
    <% end %> 
  </div>
  <div id="guide-text">
    <h1><%= @guide.header.upcase %></h1>
    <div class="col-md-5 center-block">
      <%= simple_format @guide.description %>
    </div>
  </div>
</section>
