<div class="main-content-wrapper main-content-guides-wrapper">
  <section class="guide-info row">
    <div class="guide-video-wrapper col-md-8">
      <div class="guide-video">
      </div>
    </div>

    <div class="guide-description-wrapper">
      <div class="guide-description">
        <h1><%= @guide.header %></h1>
        <%= simple_format @guide.description.truncate(500) %>
        <div class="compare-products">
          <%= link_to "compare #{@sub_category.name}", sub_category_path(@sub_category) %>
        </div>
      </div>
    </div>
  </section>

  <section class="guide-chapters row">
    <div class="guide-chapters-list-wrapper">
      <div class="guide-chapters-list short">
        <div class="guides-list-header">CHAPTERS</div>
        <% @sub_category.guides.each do |guide| %>
          <%= link_to guide.header, sub_category_guide_path(@sub_category, guide) %><br/>
        <% end %>
        <div class="guides-list-header">OTHER GUIDES</div>
        <% Guide.where.not(sub_category_id: @sub_category.id).sample(20).each do |guide| %>
            <%= link_to guide.header, sub_category_guide_path(guide.sub_category, guide) %><br/>
        <% end %>
      </div>
      <div class="row visible-xs">
        <div class="toggle-block col-md-3 center-block">
          <span class="glyphicon glyphicon-menu-down js-toggle-product-details-block" data-block-selector=".guide-chapters-list"></span>
        </div>
      </div>
    </div>
    <div class="guide-text-wrapper">
      <h1><%= @guide.header.upcase %></h1>
      <div class="guide-text col-md-10 center-block">
        <%= simple_format @guide.description&.html_safe %>
      </div>
    </div>
  </section>
</div>
<style>
  .guide-info { background: url(<%= image_url @guide.image&.url %>) no-repeat; }
</style>
