<div class='row product-info'>
  <main class='col-md-10 main-content-wrapper'>
    <%= render partial: 'breadcrumbs', locals: { product: product } %>
    <div class='page-header text-center'>
      <h1>
        <%= product.name %>
      </h1>
    </div>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-2 visible-md visible-lg'>
          <%= picture_thumbnails pictures %>
        </div>
        <div class='col-md-10'>
          <%= image_tag product.picture_url, alt: '', id: 'large-image', class: 'img-responsive center-block' %>
        </div>
      </div>
    </div>
  </main>
  <aside class='col-md-2 right-column'>
    <div class='product-brief'>
      <h1>
        Price: <%= product.price_string %>
      </h1>
      <p>
        <%= render 'products/rating', rating: product.rating %>
      </p>
      <% if product.url.present? %>
          <p>
            <%= link_to 'Product Website', product.url, :target => "_blank" %>
          </p>
      <% end %>
      <p>
        <% if user_signed_in? %>
            <% if product.users.include? current_user %>
                Added to
                Favourites <%= link_to '(Remove)', remove_product_user_favourite_products_path(@product) %>
            <% else %>
                <%= link_to 'Add to Favourites', add_product_user_favourite_products_path(@product) %>
            <% end %>
        <% end %>
      </p>
    </div>
  </aside>
</div>
<div class='row product-properties-wrapper'>
  <main class='col-md-10 main-content-wrapper product-description'>
    <div class='product-description text-center'>
      <%== simple_format product.description %>
    </div>
  </main>
  <aside class='col-md-2 product-properties right-column'>
    <% @filters.each do |filter| %>
        <div class="row">
          <div class="col-md-6 filter_name">
            <div class="bg"></div>
            <span><%= filter.name %>: </span>
          </div>
          <div class="col-md-6 filter_values">
            <%== product.filter_options.where(filter: filter).map(&:name).join '<br>' %>
          </div>
        </div>
    <% end %>
  </aside>
</div>
