<header>
  <div class="flex white-header-stripe">
    <div class="flex header-start">
      <%= yield(:mobile_icons) %>
    </div>

    <div class="flex header-center">
      <%= link_to image_tag("header-logo.png", alt: 'main-background'), root_path %>
    </div>

    <div class="flex header-end">
      <div class="upload-btn-wrapper">
        <div class='dropdown'>
          <button type='button' id='upload-menu' class='upload-btn dropdown-toggle'
                  data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
            <%= current_locale %>
          </button>
          <ul class="dropdown-menu t-center">
            <li><%= t('.choose_your_country') %></li>
            <li>
              <select class="form-control w-90 m-auto">
                <option><%= t('.countries.uk') %></option>
                <option><%= t('.countries.fr') %></option>
                <option><%= t('.countries.es') %></option>
              </select>
            </li>
            <li><%= t('.choose_your_language') %></li>
            <li>
              <select class="form-control w-90 m-auto">
                <option><%= t('.languages.uk') %></option>
                <option><%= t('.languages.fr') %></option>
                <option><%= t('.languages.es') %></option>
              </select>
            </li>
            <li><%= t('.choose_your_currency') %></li>
            <li>
              <select class="form-control w-90 m-auto ">
                <option><%= t('.currencies.eur') %></option>
                <option><%= t('.currencies.gbp') %></option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= render 'layouts/upload_button' %>
        <div class='buttons-separator hidden-xs'></div>
        <div class="user-name visible-md visible-lg">
          <%= current_user.name %>
        </div>
      <% end %>
      <%= render 'layouts/nav_links_for_auth' %>
    </div>
  </div>

  <!-- burger menu -->
  <div class="fat-nav">
    <div class="fat-nav__wrapper">
      <ul class="list">
        <li class="logo">
          <div align="center"><%= link_to image_tag("logo2.png", alt: 'main-background', width: 70), root_path %></div>
        </li>
        <li><%= link_to t('.social_feed'), search_index_path %></li>
        <% default_cat = SubCategory.find_by(name_en: "Surfboards") || SubCategory.first %>
        <li><%= link_to t('.compare_products'), default_cat %></li>
        <% default_guide = default_cat.guides.first %>
        <% if default_guide == nil %>
        <%  default_guide = Guide.first %>
        <%  default_cat = default_guide.sub_category %>
        <% end %>
        <li><%= link_to t('.buying_guides'), sub_category_guide_path(default_cat, default_guide) %></li>
        <hr style="border: none; border-bottom: 1px solid white; width: 100px">
        <% if user_signed_in?%>
          <li>
            <span data-target="#collapseMedia" data-toggle="collapse"><%= t '.new_post' %></span>
          </li>
          <div class="collapse" id="collapseMedia">
            <li class="whiteli">
              <%= modal_button_tag '/Photo', modals_path(action: :add_photo), link: true %>
            </li>
            <li role='separator' class='divider'></li>
            <li class="whiteli">
              <%= modal_button_tag '/Video', modals_path(action: :add_video), link: true %>
            </li>
          </div>
        <% end %>
        <li><%= link_to t('.my_profile'), edit_user_registration_path %></li>
        <li clas="social-links">
          <div>
            <a class="btn-social-circle" href="https://www.facebook.com/goodnoob" target="_blank">
              <span class="fa fa-facebook"></span>
            </a>
            <a class="btn-social-circle" href="https://twitter.com/Goodnoob_off" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
            <a class="btn-social-circle" href="https://www.instagram.com/goodnoob_official/" target="_blank">
              <span class="fa fa-instagram"></span>
            </a>
          </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</header>
