<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoodNoob" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GoodNoob" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'modals/modal' %>
    <%= render 'layouts/header' %>
    <section class="main-wrapper">
      <%= content_for?(:messages) ? yield(:messages) : render( 'layouts/messages' ) %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </section>
    <%= render partial: 'shared/bootstrap_modal', locals: { modal_id: 'SignInModal', modal_partial: 'devise/shared/log_in' } %>
    <%= render partial: 'shared/bootstrap_modal', locals: { modal_id: 'SignUpModal', modal_partial: 'devise/shared/register' } %>
    <%= render 'layouts/mobile_post_button' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
  </body>
</html>
